@import url('https://fonts.googleapis.com/css2?family=Inder&family=Julius+Sans+One&display=swap');

.greeting
{
    text-align: center;
}

.about_1
{
    text-align: justify;
    margin-left: 1.5%;
    margin-right: 2%;
    margin-top: 3.5%;
}

.about_container
{
    display: flex;
    align-items: center;
    gap: 0.5%x;
}

.about_2
{
    text-align: justify;
    margin-right: 2%;
}