@import url('https://fonts.googleapis.com/css2?family=Inder&family=Julius+Sans+One&display=swap');

.curiosities_section
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.curiosities
{
  font-size: 1.5rem;
  color: #a47b51;
  margin-bottom: 2rem;
}

.flowers-container{
  display: flex;
  flex-direction: row;
}

#flower_top
{
  margin-left: -17%;
  transform: skew(2deg, 5deg);
}

.curiosities_list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  text-align: justify;
  margin-top: -17%;
  margin-bottom: 2rem;
}
