@import url('https://fonts.googleapis.com/css2?family=Inder&family=Julius+Sans+One&display=swap');

.footer-images{
  display: flex;
  flex-direction: row;
  margin-top: -100px;
}

.footer-img{
  width: 100%;
  margin-top: -20rem;
}

.footer
{
 background-color: #FCDDAC;
 font-family: 'Julius Sans One';
 letter-spacing: 0.5px;
 color: #AA7F4A;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding-left: 1.5%;
 padding-right: 1.5%;
 height: 50px;
 align-items: center;
 margin-top: -0.45rem;
}

.footer a
{
  text-decoration: none;
  color: #AA7F4A;
}

.footer a:visited
{
  color: #AA7F4A;
}
