@import url('https://fonts.googleapis.com/css2?family=Inder&family=Julius+Sans+One&display=swap');

hr
{
  width: 80%;
  border: 0.25px solid #BFAC9A;
  margin: 0 auto;
}

.skills_hr
{
  margin-top: 2.5%;
}

.skills_container
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.skills_block
{
    display: flex;
    flex-direction: column;
}

.skills_block h3
{
    padding-bottom: 5%;
}

.skills_cat
{
    margin-right: 10%;
}

.skills_hr
{
  margin: 0 auto;
  width: 90%;
  border: 0;
  border-top: 1px solid #a47b51;
}

.divider-img1, .divider-img2{
  width: 40%;
}

.divider-img1{
  margin-right: 5rem;
}

.divider-img2{
  transform: skew(5deg, 5deg);
}

.divider-img-chart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
}
